<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Leaderboard</title>
  <link rel="stylesheet" href="/static/StyleSheets/leaderboard.css">
</head>
<body>
  <div class="leaderboard-container">
    <div class="leader-title">
      <img class="Leader-img" src="/static/Images/Icons/crown.png" alt="Crown Icon">
      <h3>Leaderboard</h3>
    </div>
    <ul>
      {# Loop through the users data passed from Flask #}
      {% for user in users %}
      <li>
        <span class="rank">{{ loop.index }}. {{ user.username }} </span>
        <span class="divider">|</span>
        <span class="score">{{ "{:,}".format(user.chips) }} chips</span> {# Format chips with commas #}
      </li>
      {% endfor %}
      {# If no users are found, display a message #}
      {% if not users %}
      <li>No users found on the leaderboard.</li>
      {% endif %}
    </ul>
  </div>
</body>
</html>