<!-- navbar.html -->
<div class="nav-wrap">
  <div class="nav-border-glow"></div>

  <nav class="nav-bar">
    <a class="nav-button logo" href="#"><div class="logo-container">Black Hub</div></a>

    <a class="nav-button nav-link" href="/"><img src="/static/Images/Icons/home-icon.png">Home</a>
    <a class="nav-button nav-link" href="/learn"><img src="/static/Images/Icons/learn.png">Learn</a>
    <a class="nav-button nav-link" href="/news"><img src="/static/Images/Icons/news.png">News</a>

    <a class="nav-button login-button" href="/login">
      <div class="login-container"><img src="/static/Images/Icons/profile.png"></div>
    </a>

    <div class="hover-back"></div>
  </nav>
</div>
