<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/StyleSheets/transition.css" />
    <link rel="stylesheet" href="/static/StyleSheets/login.css" />
    <link rel="stylesheet" href="/static/StyleSheets/register.css" />
    <link rel="stylesheet" href="/static/StyleSheets/box-display.css" />
    <!-- JS Files -->
    <script src="/static/Scripts/transition.js"></script>
    
</head>
<body>
  <div class="overlay-transition"></div>
  <div class="Hover_Back_Wrap">
    <a href="/" onclick="history.back();" class="back-arrow">
      <img src="/static/Images/Icons/home-icon.png" class="Homer">
      <span>Home</span>
    </a>
  </div>

  <!-- Message box for notifications -->
  {% include 'display_box.html' %}

  <div class="page-transition">
    <div class="center-container">
      <div class="wrapper">
        <form id="register-form" method="POST" action="/register">
          <h1> Register </h1>

          <!-- Email -->
          <div class="Input-here">
            <input type="email" name="email" placeholder="Email" required>
            <img class="L-img" src="/static/Images/Icons/email.png" style="width: 24px">
          </div>

          <!-- Username -->
          <div class="Input-here">
            <input type="text" name="username" placeholder="Username" required>
            <img class="L-img" src="/static/Images/Icons/user.png" style="width: 24px">
          </div>

          <!-- Password -->
          <div class="Input-here password-suggest-wrap">
              <input id="password" name="password" class="PP" type="password" placeholder="Password" required>
              <img class="P-img" src="/static/Images/Icons/Password.png" style="width: 24px">
              <button type="button" class="suggest-btn" onclick="suggestPassword()">Suggest</button>
          </div>

          <!-- Confirm Password -->
          <div class="Input-here">
              <input id="confirm-password" name="confirm_password" class="PP" type="password" placeholder="Confirm Password" required>
              <img class="P-img" src="/static/Images/Icons/Password.png" style="width: 24px">
          </div>

          <div class="remember-forgot">
            <label>
              <div class="toggle-wrap">
                <input type="checkbox" onclick="togglePasswordVisibility()">
                <div class="circle"></div>
                <span>Show Password</span>
              </div>
            </label>
          </div>

          <button type="submit" class="Btn"> Register </button>

          <div class="register">
            <p>Already have an account?<a href="/login"> Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="/static/Scripts/register.js"></script>
<script src="/static/Scripts/r.js"></script>
</body>
</html>
