body {
  margin: 0;
  background-color: #015519;
}

:root {
  --sidenav-width: 200px;
  --sidenav-left-gap: 5px;
  --content-width: 1000px
}

.side-nav {
  width: var(--sidenav-width);
  background: linear-gradient(45deg, #2E8B57 0%, #50C878 100%);
  padding: 10px;
  border-radius: 20px;
  color: white;
  height: fill;
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav ul li {
  margin: 15px 0;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.side-nav ul li a:hover {
  color: #00ffee;
  transform: scale(1.2);
}

.layout {
  display: flex;
  gap: 10px;
  margin-top: 80px; /* Adjust if there's a top nav */
  padding: 0 10px;   /* Optional side padding */
  height: calc(100vh - 80px - 30px);
}

.page-content {
  flex: 1; 
  background-color: #2E8B57;
  padding: 40px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

section {
  scroll-margin-top: 100px;
  padding-top: 40px;         
}


